// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


//Custom

body {
    background: url("https://previews.123rf.com/images/ladavie/ladavie1711/ladavie171100007/89449577-christmas-snow-background.jpg") no-repeat;
    background-size: cover;
    font-family: 'Dancing Script', cursive;
    font-size: 18px;

}

.text-danger {
    background: #f3c9c97d;
    padding: 3px;
    width: fit-content;
}


.list-group {
    h3 {
        text-shadow: 3px 1px 7px #bffffd;
    }

}

.btn.btn-outline-info,
.btn.btn-outline-primary {
    color: #000;
    background: #9ce8fe;
    border-color: #9ce8fe;

    &:hover {
        background: #68d0ef;
    }
}

.navbar {
    background: #6e82b4;

    .navbar-nav {
        display: flex;
        align-items: center;
    }


    a {
        font-size: 25px;
        color: #fff;
    }

    select {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #8b489a;
        color: #fff;
    }

    .dropdown {
        .dropdown-item {
            color: #000;
        }
    }

}

.gallery-list {
    &--item {
        .card {
            box-shadow: 1px -1px 15px 7px #3bb8c7e3;

            .img-wrapper {
                height: 200px;
                overflow: hidden;

                img {
                    object-fit: cover;
                    width: 100%;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    img {
                        transform: rotate(5deg) scale(1.1);
                        transition: all 0.3s ease-in-out;
                    }
                }
            }

            .card-body {
                background: #cad6ef;
            }

            .card-footer {
                background: #a9c1f5;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
}

